body, html{
    margin: 0;
    padding: 0;
background-color: black;
}

header{
min-height: 70px;
background-color:black;
font-family: "Times New Roman", sans-serif;
text-align: center;
}

header h1{
    color: rgb(221, 228, 236);
}

header p{
    color: white;
    font-family: "Times New Roman", sans-serif;
    min-height: 30px;
}

canvas{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

